
.container {
    background: linear-gradient(145deg, #282c34, #181c24); /* Dark gradient background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
 
  .card-container {
    background: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .addNew, .mobileBtn {
    background-color: #4CAF50;
    border-radius: 8px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .addNew:hover, .mobileBtn:hover {
    background-color: #45a049; 
  }
  
 
  .iconActive {
    color: #4CAF50;
    font-size: 30px;
  }
  
  .iconDeactive {
    color: #8c8c8c;
    font-size: 30px;
  }
  
 
  .tableRow {
    background-color: #1c1c1c;
  }
  
  .tableRow:hover {
    background-color: #333;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: center;
  }
  
  .table th {
    font-weight: bold;
    color: #e1e1e1;
  }
  
  .table td {
    color: #ccc;
  }
  
  .modal-header {
    background-color: #222;
    color: #fff;
    border-bottom: none;
  }
  
  .modal-body {
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .modal-footer {
    background-color: #222;
  }
  

  .form-control, .form-select {
    background-color: #2c2f38;
    border: 1px solid #555;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
  }
  
 
  .filterRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterRow .type select, .filterRow .frequency select {
    border-radius: 8px;
    padding: 8px;
  }
  
  .date label {
    color: white;
    font-weight: bold;
  }
  
  .date .form-group {
    margin-right: 10px;
  }
  
  .containerBtn {
    margin-top: 20px;
    text-align: right;
  }
  
  /*responsive*/
  @media (max-width: 768px) {
    .filterRow {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .mobileBtn {
      padding: 15px;
      font-size: 24px;
      background-color: #4CAF50;
      color: white;
    }
  }
  